@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}
@font-face {
    font-family: 'GothamLight';
    src: url('../vender/gothamFont/GOTHAM-LIGHT.TTF');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../vender/gothamFont/GOTHAM-BOLD.TTF');
}

#cat1{
	background-color: #ECE4C2;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 0px;
	width: 6px;
	height: 25px;
	text-align: center;
	padding-top: 6px;
	color: black;
	font-family: 'GothamBold';
	/*padding-left: 12px;*/
	/*padding-right: 12px;*/
	overflow: hidden;
	text-indent: 2%;
	-webkit-animation: showin 3s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin 3s;
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}

@keyframes showin {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    30%, 40% { 
    	width:18%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}
#cat2{
	background-color: #E45641;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 25px;
	width: 6px;
	height: 25px;
		padding-top: 6px;
	text-align: center;
	color: white;
	font-family: 'GothamBold';
	overflow: hidden;
	text-indent: 2%;
		-webkit-animation: showin2 3.2s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin2 3.2s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	}
@keyframes showin2 {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    27%,43% { 
    	width:12%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}
#cat3{
	background-color: #F2AA4E;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 50px;
	width: 6px;
	height: 25px;
		padding-top: 6px;
	text-align: center;
	color: white;
	font-family: 'GothamBold';
	overflow: hidden;
	text-indent: 2%;
		-webkit-animation: showin3 3.3s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin3 3.3s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	
	

}
@keyframes showin3 {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    25%,45% { 
    	width:18.6%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}
#cat4{
	background-color: #4EBC90;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 75px;
	width: 6px;
	height: 25px;
		padding-top: 6px;
	text-align: center;
	color: white;
	font-family: 'GothamBold';
	overflow: hidden;
	text-indent: 2%;
		-webkit-animation: showin4 3.6s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin4 3.6s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	
	
}
@keyframes showin4 {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    23%, 47% { 
    	width:18.3%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}

#cat5{
	background-color: #1A9AAF;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 100px;
	width: 6px;
	height: 25px;
		padding-top: 6px;
	text-align: center;
	color: white;
	font-family: 'GothamBold';
	overflow: hidden;
	text-indent: 2%;
		-webkit-animation: showin5 3.8s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin5 3.8s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	
	}
	@keyframes showin5 {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    25%,50% { 
    	width:18%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}

#cat6{
	background-color: #274763;
	position: absolute;
	top: 60%;
	margin-left: 5%;
	margin-top: 125px;
	width: 6px;
	height: 25px;
		padding-top: 6px;
	text-align: center
	;
	color: white;
	font-family: 'GothamBold';
	overflow: hidden;
	text-indent: 2%;
		-webkit-animation: showin6 3.9s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: showin6 3.9s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
	
	}
	@keyframes showin6 {
    0% {       	
    	width:6px;
    	text-indent: 0%;
    }
    25%,52% { 
    	width:12.5%;
    	/*padding: 6px;*/
    	padding-left: 12px;
    	padding-right: 12px;
    	text-indent: 0%;
     }

    100% { 
       	width:6px;
    	/*padding: 0px;*/
    	padding-left: 0px;
    	padding-right: 0px;
    	text-indent: 1%;  
    }
}

.rotate{
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
position: fixed;
top: 65%;
margin-top: 32px;
left: -1.9%;
font-family: 'GothamMed';
font-size: 12px;
}

#cat1:hover{
	    	width:18% !important;
    	/*padding: 6px;*/
    	padding-left: 12px !important;
    	padding-right: 12px !important;
    	text-indent: 0% !important;
}

#cat2:hover{
	    	width:12% !important;
    	/*padding: 6px;*/
        padding-left: 12px !important;
        padding-right: 12px !important;
        text-indent: 0% !important;
}

#cat3:hover{
	    	width:18.8% !important;
    	/*padding: 6px;*/
        padding-left: 12px !important;
        padding-right: 12px !important;
        text-indent: 0% !important;
}

#cat4:hover{
	    	width:18.4% !important;
    	/*padding: 6px;*/
        padding-left: 12px !important;
        padding-right: 12px !important;
        text-indent: 0% !important;
}

#cat5:hover{
	    	width:18% !important;
    	/*padding: 6px;*/
        padding-left: 12px !important;
        padding-right: 12px !important;
        text-indent: 0% !important;
}

#cat6:hover{
	    	width:12% !important;
    	/*padding: 6px;*/
        padding-left: 12px !important;
        padding-right: 12px !important;
        text-indent: 0% !important;
}