
body {
  background: #000;
}
.relative{
	position: fixed;
  /*width: 100%;*/
}
@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}

video#landbg { 
    position:relative;
    top: 0%;
    left: 0%;
    width: 100%;
 /*   -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    background: url(../img/landing.png) no-repeat;
    background-size: cover; 
    }
/*not in use*/
video#landinglogo{
	position: fixed;
	top: 50%;
	left: 50%;
	height:50%;
	width: auto;
	overflow: hidden;
  -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/unlessyoutry.png) no-repeat;
    background-size: cover; 
    opacity: 0.5;
}

#logoLanding{
  position: absolute;
  top: 33.5%;
  left: 38.25%;
  height: 31.5%;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease; 
}
#logoLanding:hover{
  opacity: 1;
}

p {
  position: absolute;
  	top: 28%;
	left: 33%;
  color: white; 
  font-family: 'GothamMed';
  font-size: 15px;
  /*margin: 10px 0 0 10px;*/
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
	 -webkit-animation: fadein 9s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: fadein 9s;
      opacity: 0;
}

@keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; } 
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; } 
}