body {
  background: #000;
}
.fix{
	position: fixed;
	/*width: 512px;*/
}

@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}
@font-face {
    font-family: 'GothamLight';
    src: url('../vender/gothamFont/GOTHAM-LIGHT.TTF');
}
p{
	font-family: 'GothamLight';
	color:white;
	text-align: center;
	font-size: 10px;
}
video.banner{
	position: absolute;
	background-position: left;
	/*clip: rect(0px,1000px,720px,900px);*/
    top: 0px;
    left: -500px;
    min-width: 250%;
    min-height: 100%;
    width: 250%;
    height: auto;
    max-width: 250%;
    z-index: -1;
    background: url(../img/bg.gif) no-repeat;
    background-size: cover;
    -webkit-filter: brightness(50%);
    filter: brightness(50%); 
}
.wrap{
	width: 130%;
	max-width: 130%;
	max-height: 100%;
	min-height: 100%;
	min-width: 130%;
	/*height: auto;*/
	/*background-position: top left;*/
	background-color: red;
	position:relative;
    margin-left:0px;
    left: -15px;

    
}
.clear{
	position: absolute;
	background-color: red;
	left: 100%;
	width: 1000px;
	min-width: 1000px;
	max-width: 1000px;
	height: 1000px;
	min-height: 1000px;
	max-height: 1000px;
}

.menu {
	position: absolute;
	/*top: 10%;*/
	/*left: 10%;*/
	margin: 1%;
	width: 7%;
	min-width:7%; 
	max-width:7%;
}
.profile {
	position: absolute;
	margin: 1%;
	/*top: 10px;*/
	left: 90%;
	width: 7%;
	min-width:7%; 
	max-width:7%;
}

.yellow {
	-webkit-filter: grayscale(100%) brightness(200%);

	 -webkit-transition: all 0.1s ease;
    		transition: all 0.1s ease; 
}
 
.yellow:hover {
  -webkit-filter: grayscale(0%)brightness(100%);

	
}
.texth {
	color: white;
	 -webkit-transition: all 0.1s ease;
    		transition: all 0.1s ease; 
}
.texth:hover{
	color: #FFAA21;
}
#home{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	top: 15px;
	left: 20%;
	font-size: 15px;
	/*width: 100%;*/
	/*max-width: 100%;*/
	/*min-width: 100%;*/
}

#act{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	top: 15px;
	left: 45%;
	font-size: 15px;
	}

#idea{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	top: 15px;
	left: 80%;
	font-size: 15px;
}

#logo1{
	position: absolute;
	top: 60px;
	left: 30%;
	width: 230px;
}

#hashtag{
	position: absolute;
	font-family: 'GothamMed';
	top: 300px;
	left: 50%;
}

#sen1{
	position: absolute;
	top: 270px;
	left: 27%;
	width: 30em;
}