body {
  background: #000;
}
.fix{
	position: fixed;
	/*width: 40%;*/
	
}
.check{
  position: relative;
  background-color: black;
  left: 40%;
  width: 60%;
  padding: 0px;
  margin: 0px;  
}
@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}
@font-face {
    font-family: 'GothamLight';
    src: url('../vender/gothamFont/GOTHAM-LIGHT.TTF');
}
p{
	font-family: 'GothamLight';
	color:white;
	text-align: center;
	font-size: 11px;
}
video.banner{
	position: absolute;
	background-position: left;
	top: -5px;
    left: -110px;
    min-width: 205%;
    /*min-height: 100%;*/
    width: 205%;
    height: auto;
    max-width: 205%;
    z-index: -100;
    background: url(./img/video/LandingVid.png) no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
    -webkit-filter: brightness(70%);
    filter: brightness(70%); 
}
img.banner-pic{
	position: absolute;
	background-position: left;
	top: -5px;
    left: -110px;
    min-width: 205%;
    /*min-height: 100%;*/
    width: 205%;
    height: auto;
    max-width: 205%;
    z-index: -100;
    background: url(./img/video/LandingVid.png) no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
    -webkit-filter: brightness(70%);
    filter: brightness(70%); 
}
.wrap{
	width: 130%;
	max-width: 130%;
	max-height: 100%;
	min-height: 100%;
	min-width: 130%;
	/*height: auto;*/
	/*background-position: top left;*/
	background-color: red;
	position:relative;
    margin-left:0px;
    left: -15px;
    /*overflow: hidden;*/

    
}
.clear{
	position: absolute;
	background-color: red;
	left: 98.9%;
	width: 2000px;
	min-width: 2000px;
	max-width: 2000px;
	height: 2000px;
	min-height: 2000px;
	max-height: 2000px;
}

.menu {
	position: absolute;
	/*top: 10%;*/
	/*left: 10%;*/
	margin: 2%;
	width: 5%;
	min-width:5%; 
	max-width:5%;
}
.profile {
	position: absolute;
	margin: 2%;
	/*top: 10px;*/
	left: 88%;
	width: 6%;
	min-width:6%; 
	max-width:6%;
}

.yellow {
	-webkit-filter: grayscale(100%) brightness(200%);
	 -webkit-transition: all 0.3s ease;
    		transition: all 0.3s ease; 
}
 
.yellow:hover {
  -webkit-filter: grayscale(0%)brightness(100%);

	
}
.texth {
	color: white;
	 -webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease; 
}
.texth:hover{
	color: #FFAA21;
}
#home{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	margin: 2.5%;
	margin-left: -50px;
	font-size: 15px;
	/*width: 100%;*/
	/*max-width: 100%;*/
	/*min-width: 100%;*/
}

#act{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	margin: 2.5%;
	margin-left: -100px;
	font-size: 15px;
	}

#idea{
	position: absolute;
	color: white;
	font-family: 'GothamMed';
	margin: 2.5%;
	margin-left: -100px;
	font-size: 15px;
}
