#logo2{
	position: absolute;
	margin-top: 18%;
	left: 50%;
	width: 15%;
	min-width: 15%;
	max-width: 15%;
	-webkit-filter: grayscale(100%) brightness(200%);
}

#phum-topic{
	position: absolute;
	margin-top: 23%;
	left: 27.5%;
	width: 45%;
	min-width: 45%;
	max-width: 45%;

}

