

.pic {
  position: relative;
  /*clip: rect(0px,280px,272px,30px);*/
  /*border: 0px solid #fff;  */
  left: 0.004%; 
   width: 33.33%;
   height: 33.33%;
  min-height: 33.33%;
  min-width:  33.33%;
  max-width: 33.33%;
  max-height: 33.33%;
  float: left;
   margin: 0px;

 }

 /*GROW*/
.grow img {
  height: 100%;
  width:  100%;
    overflow: hidden;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease; 
}
 
.grow img:hover {
  width: 350px;
  height: 350px;
}

/*B&W*/
.bw {
	-webkit-filter: grayscale(100%);
	 -webkit-transition: all 1.5s ease;
    		transition: all 1.5s ease; 
}
 
.bw:hover {
  -webkit-filter: grayscale(0%);
}
.text{ 
  position :absolute;
  left: 150px;
  top:  150px;
    /*z-index: -1;*/
    overflow: hidden;
  width:300px;
  height:300px;
  background:#FFF;
  opacity:0; 
} 

  .pic:hover .text { 
    opacity:0.6;
    text-align:justify;
    color: gray;
     font-size:20px;
      font-weight:700;
       font-family:"Times New Roman", Times, serif;
        padding:30px; 
}
.check{
  /*position: relative;*/
  background-color: gray;
  /*float: left;*/
  /*z-index: -1;*/
  /*clip: rect(0px,40.5%,1000px,3%);*/
    /*p {clip: top, right, bottom, left;}*/
  left: 40%;
  width: 60%;
  height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;  
}