@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}
@font-face {
    font-family: 'GothamLight';
    src: url('../vender/gothamFont/GOTHAM-LIGHT.TTF');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../vender/gothamFont/GOTHAM-BOLD.TTF');
}
#pic1{
  visibility: hidden;
}
.pic {
  position: relative;
  /*clip: rect(0px,280px,272px,30px);*/
  /*border: 0px solid #fff;  */
  left: 0.004%; 
   width: 33.33%;
   height: 33.33%;
  min-height: 24.99%;
  min-width:  24.99%;
  max-width: 49.99%;
  max-height: 49.99%;
  float: left;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   visibility: hidden;
      /*
  -webkit-animation-name: flyin;
  -webkit-animation-duration: 1s;
  animation-name: flyin;
  animation-duration: 1s;*/
 }
 .delay{
      -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
 }
@-webkit-keyframes flyin {
  from { transform: translate3d(500px, 1200px, 0);} 
  to {
      -webkit-transform: translateY(0%);
      -webkit-transform: translateX(0%);

  }
}

@keyframes flyin {
  from { transform: translate3d(500px, 1200px, 0);} 
  to {
      -webkit-transform: translateY(0%);
      -webkit-transform: translateX(0%);

  }
}
 /*GROW*/
.grow img {
  height: 100%;
  width:  100%;
   -webkit-transition: all 0.5s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 0.5s ease; 
}
 
.grow img:hover {
transform: scale(1.05);
}

/*B&W*/
.bw {
	-webkit-filter: grayscale(100%);
	 -webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease; 
}
 
.bw:hover {
  -webkit-filter: grayscale(0%);
}
.text{ 
  position :absolute;
  left: 100%;
  top:  57%;
  overflow: hidden;
  width:43%;
  height:43%;
  background:#000;
  opacity:0; 
}
.cata{
  position :absolute;
  /*left: 100%;*/
  /*top:  57%*/;
  overflow: hidden;
  width:20%;
  height:100%;
  background: #274763;
  opacity:1; 
  z-index: 2;
} 

.text2{
   position :absolute;
    font-family: 'GothamBold';
  color:white;
  left: 57%;
  top:  63%;
  text-align: right;
  /*top :10px;*/
  right: 15px; 
  font-size: 17px;
  padding: -10px;
  opacity: 0;
}

.text3{
   position :absolute;
    font-family: 'GothamLight';
  color:#FFAA21;
  left: 57%;
  top:  63%;
  text-align: right;
  font-size: 17px;
   right: 15px;
  padding: -10px;
  opacity: 0;
}


