.div40{
	position: relative;
	width: 68.4%;
	/*height: 100%;*/
	overflow:hidden;
}
.div20{
	position: fixed;
	left: 81%;
	width: 19%;
	height: 100%;
	top:0%;
	/*height: 100%;*/
	overflow:hidden;
}

#profile-info{
	/*position: absolute;*/
	width: 86%;
	height: auto;
	margin:7%;
	z-index: 10;
}
.bg{
	position: absolute;
	background-color: white;
	left: 100%;
	width: 102.5%;
	min-width: 102.5%;;
	max-width: 102.5%;;
	height: 120%;
	min-height: 120%;
	max-height: 120%;
	z-index: -1;
}

/*right banner (Gerally)*/
.gal{
	width: 100%;
	overflow: hidden;
	top:0.0001%;
	height: 33.3333%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	display: none;
}
.backg{
	position: absolute;
	/*left: 0%;*/
	/*top:0%;*/
	z-index: -100;
	width: 100%!important;
	height: 33.3333%!important;
}
.fix-size{
	width: 100%!important;
	height: 100%!important;
}