@font-face {
    font-family: 'GothamMed';
    src: url('../vender/gothamFont/GOTHAM-MEDIUM.TTF');
}
@font-face {
    font-family: 'GothamLight';
    src: url('../vender/gothamFont/GOTHAM-LIGHT.TTF');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../vender/gothamFont/GOTHAM-BOLD.TTF');
}

.div40{
	position: relative;
	width: 68.4%;
	/*height: 100%;*/
	overflow:hidden;
}
.div20{
	position: fixed;
	left: 81%;
	width: 19%;
	height: 100%;
	top:0%;
	/*height: 100%;*/
	overflow:hidden;
}

#profile-info{
	/*position: absolute;*/
	width: 86%;
	height: auto;
	margin:7%;
	z-index: 10;
}
.bg{
	position: absolute;
	background-color: white;
	left: 100%;
	width: 102.5%;
	min-width: 102.5%;;
	max-width: 102.5%;;
	height: 120%;
	min-height: 120%;
	max-height: 120%;
	z-index: -1;
}

/*right banner (Gerally)*/
.gal{
	width: 100%;
	overflow: hidden;
	top:0.0001%;
	height: 33.3333%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	/*display: none;*/
}
.backg{
	position: absolute;
	/*left: 0%;*/
	/*top:0%;*/
	z-index: -100;
	width: 100%!important;
	height: 33.3333%!important;
}
.fix-size{
	width: 100%!important;
	height: 100%!important;
}

#chat-log{
	position: fixed;
	left: 40%;
	width: 41.1%;
	height: 97%;
}
#friend-list{
	width: 100%;

}
#ref-info{
	width: 90%;
	height: auto;
	margin:5%;
	margin-top:4%; 
	z-index: 10;
}
#ref{
	font-family: "GothamBold";
	color:#FFAA21;
	text-align: left;
	margin: 5%;

	font-size: 18px;
}

#pos-ref{
	position: absolute;
	height: 2.5%!important;

	margin-top: -3%;
	margin-left: 7%;
	/*-webkit-filter: grayscale(0%) brightness(100%)*/
	 -webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease; 
}

#neg-ref{
	position: absolute;
	height: 2.5%;
	margin-top: -3%;
	margin-left: 30%;
	-webkit-filter: grayscale(100%) brightness(0%);
	 -webkit-transition: all 0.5s ease;
    		transition: all 0.5s ease; 
}
#pos-ref:hover{
-webkit-filter: grayscale(0%) brightness(100%)!important;
transform: scale(1.02);
}
#neg-ref:hover{
-webkit-filter: grayscale(0%) brightness(100%)!important;
transform: scale(1.02);
}
.pic-ref{
	width: 100%;
	overflow: hidden;
	top:0.0001%;
	height: 33.3333%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.f-list{
  position: relative;
  /*left: 0.003334%; */
   width: 50%;
   height: auto%;
  float: left;
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   visibility: hidden;

}

.friend-info{
background: rgba(0,0,0,0.5);
opacity: 0.6;
width: 100%;
height: 100%;
font-family:"GothamBold";
color: white;
z-index:1;
text-align: center;
top: 60%;
}

.online{
	position: absolute;
	/*margin: 5%;*/
	background-color: #FFAA21;
	-webkit-filter: grayscale(0%)!important;
	width: 7%;
	height: 7%;
	top: 3%;
	left:90%;
	z-index: 3;
	-webkit-border-radius: 50px;
	border-radius: 50px;

}