/* Slideshow container */
.slideshow-container {
  width: 90%;
  /*max-width: 80%;*/
  height: auto;
  top: -20%;
  left: 5%;
  position: relative;
  /*margin: 10%;*/
  padding: center;
  color: red;
  z-index: 1;
}

#ex1{
	position: absolute;
	width: 30%;
	margin: 2%;
	-webkit-animation: fadein 4s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: fadein 4s;
    /*opacity: 0;*/
}
@keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 1; } 
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 1; } 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dd{
	position: absolute;
	top: 3%;
	left: 90%;
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  top:-100px;
  height: 7px;
  width: 7px;
  margin: 2px;
  background-color: #FFFFFF;
  /*border-radius: 50%;*/
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FFAA21;
}

#text1{
	position: relative;
	width: 90%;
	margin: 5%;
}
#sc{
	position: relative;
	width: 5%;
	margin: 0%;
	left:68%;
	-webkit-animation: shake 5s ; /* Safari, Chrome and Opera > 12.1 */
    animation: shake 5s;
    animation-iteration-count: 20;
}
#sct{
	position: relative;
	width: 20%;
	margin: 0%;
	left:70%;
}
.sd #sct{
		-webkit-animation: fadein 7s ; /* Safari, Chrome and Opera > 12.1 */
       	    animation: fadein 7s;
}

#text2{
	position: relative;
	width: 113%;
	margin-top: 5%;
	left:-17.5%;
}

@keyframes shake {
  10% , 50% {
    transform: translate3d(0, -2px, 0);
  }
  
  20%{
    transform: translate3d(0, 4px, 0);
  }

  30% {
    transform: translate3d(0,-4px, 0);
  }

  40% {
    transform: translate3d(0, 6px, 0);
  }
  80%, 90% 70% 60%{
  transform: translate3d(0, 0, 0);	
  }
}

@-webkit-keyframes shake {
  10% , 50% {
    transform: translate3d(0, -2px, 0);
  }
  
  20%{
    transform: translate3d(0, 4px, 0);
  }

  30% {
    transform: translate3d(0,-4px, 0);
  }

  40% {
    transform: translate3d(0, 6px, 0);
  }
  80%, 90% 70% 60%{
  transform: translate3d(0, 0, 0);	
  }
}

/* Fading animation */
.move {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {left:100%;} 
  to {left:0%;}
}

@keyframes fade {
  from {left:100%;} 
  to {left:0%;}
}
